

.h1{
    font-family: 'Dancing Script', cursive;
    color: crimson;
    text-align: center;
    text-transform: uppercase;
}
.h2{
    font-family: 'Indie Flower', cursive;
    text-decoration: line-through;
}
.h3{
    color: crimson;
    letter-spacing: 10px;
}

.p1{
    text-decoration: underline;
    word-spacing: 2em;
    line-height: 30px;
    font-weight: bold;
}

.p2{
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
    word-spacing: 2em;
    line-height: 30px;
    text-transform: lowercase;
}

.p3{
    font-style: italic;
    font-size: 22px;
    text-align: center;
}