.d1 {
  background-color: lightblue;
  background-image: url("./image-1.jpg");
  background-repeat: repeat-y;
  background-position: center;
}
.d2 {
  background-color: darksalmon;
  background-image: url("./image-2.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.d3 {
  background-color: darkseagreen;
  background-image: url("./image-3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
